.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}
.entries li {
    margin-bottom: 20px;
}
.entries li h2 {
    margin-bottom: 0;
}
